
.main-df{
    background-image: url('./images/main_books.jpg');
    background-size: cover;
    height: 300px;
}

.signup-df::after{
    background-image: url('./images/main_books.jpg');
    background-size: cover;
    opacity: 0.5;
    position: absolute;

}

.input-forms{
    width: 300px;
    margin-top: 15px;
    margin-left: 315px;

}

.log-img-forms{
    background-image: url('./images/main_books.jpg');
    background-size: cover;
    grid-template-columns: auto;
}

.log-info-print{
    text-align: center;
    font-size: 15px;
    color: lightcoral;
}

.log-main-print{
    text-align: center;
    font-size: 50;
}

.log-input-place{
    width: 40%;
    margin-left: 60%;
}

.main-search-div{
    height: 40px;
    width: 30%;
    top: 90%;
    left: 33%;
    border: 1px solid #1b5ac2;
    background: #ffffff;
    position: relative;
}

.main-search-input{
    font-size: 16px;
    height: 100%;
    width: 90%;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

.main-search-button{
    width: 10%;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
    font-size: 1.5rem;
}