{% extends './base.html' %}

{% block content %}
<div class='container'>
    <main>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}" style="color: aliceblue;">전자 도서관</a>
                    <span class='navbar-brand'>회원정보</span>
                </div>

                <div style="float: right;">
                    <form method="post"> {% csrf_token %}
                        {% if request.session.email %}
                        <span style="color: aliceblue; font-size: 18px;">
                            {{request.session.firstname}}({{request.session.email}})
                        </span>
                        <button type='submit' formaction="./signout" class='btn btn-success'>로그아웃</button>

                        {% else %}
                        <button type="submit" formaction="./login" class="btn btn-success">로그인</button>
                        <button type="submit" formaction="./signup" class="btn btn-success">회원가입</button>
                        {% endif %}
                    </form>
                </div>
        </nav>

        <div class='row'>
            <div>
                <form id='forms' class="needs-validation" novalidate style="margin-left: 35%; margin-top: 20%;">{% csrf_token %}
                    <div style="margin-top: 80px; ">
                        {% if request.session.email  %}
                        <span style="font-size: 50px;">{{request.session.firstname}}님의 회원정보</span>
                        {% endif %}
                    </div>

                    <div style="margin-top: 1%; margin-left: 7%;">
                            {% if request.session.email  %}
                            <label for="password" class="form-label text-center">회원탈퇴를 위해 비밀번호를 입력하세요.</label>
                            {% elif stat == '2' %}
                            <label for="password" style="color: red;" class="form-label">{{msg}}</label>
                            {% endif %}

                            {% if request.session.email %}
                            <input type="password" class="form-control" id="password" name='password' placeholder=""
                                value="" required style="width: 30%;">
                            {% else %}
                            <div style="margin-right: 25%;">
                                <p style="font-size: 50px;">
                                    {{firstname}}님의 회원탈퇴를 완료하였습니다.
                                </p>
                                <br>
                                <p style="font-size: 30px;">그 동안 전자도서관 서비스를 이용해주셔서 감사합니다.</p>
                            </div>
                            {% endif %}
                    </div>

                    {% if request.session.email  %}
                    <button type='submit' class="w-100 btn btn-primary btn-lg" style="margin-top: 8%; margin-left: 15%;"
                        onclick="submitReqDelete('{{firstname}}', '{{usermail}}')">탈퇴하기</button>

                    {% elif stat == '1' or not request.session.email%}
                    <button class="w-100 btn btn-primary btn-lg" style="margin-top: 8%; margin-left: 25%;"
                        onclick="submitIndex()"> 돌아가기</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
</div>
{% load static %}
<script src="{% static 'polls/deleteinfo.js' %}"></script>
{% endblock %}