<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="main">
  <meta name="author" content="msa">
  <link rel="icon" href="../../favicon.ico">

  <title>e-Library</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

  <script>
    function reqUpdate() {
      firstname = "{{name}}"
      email = "{{email}}"
      
      let form = document.createElement('form');
      form.setAttribute('charset', 'utf-8')
      form.setAttribute('method', 'post{% csrf_token %}');
      form.setAttribute('action', './updateinfo');

      let hiddenField = document.createElement('input');
      hiddenField.setAttribute('type', 'hidden');
      hiddenField.setAttribute('name', 'firstname');
      hiddenField.setAttribute('value', firstname);
      form.appendChild(hiddenField);

      hiddenField = document.createElement('input');
      hiddenField.setAttribute('type', 'hidden');
      hiddenField.setAttribute('name', 'email');
      hiddenField.setAttribute('value', email);
      form.appendChild(hiddenField);
      
      document.body.appendChild(form);
      form.submit();
    }
  </script>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color: aliceblue;">전자 도서관</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" method="POST">{% csrf_token %}
          {% if stat == '0' %}
          <div class="form-group">
            <input type="text" id='email' name='email' placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" id='password' name='password' placeholder="Password" class="form-control">
          </div>
    
          <button type="submit" formaction="./signin" class="btn btn-success">로그인</button>
          <button type="submit" formaction="./signup" class="btn btn-success">회원가입</button>

          {% else %}
          <div>
            <span style="color: aliceblue; font-size: 18px; cursor: pointer;"
              onclick="reqUpdate()">{{name}}({{email}})</span>
            <button type='submit' formaction="./signout" class='btn btn-success'>로그아웃</button>
          </div>
          {% endif %}
        </form>

      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron main-df">
    <div class="container">
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    <footer style='vertical-align: bottom;'>
      <p>&copy; 전자도서관 2021</p>
    </footer>
  </div> <!-- /container -->
</body>

</html>