{% extends './base.html' %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}" style="color: aliceblue;">전자 도서관</a>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" method="POST"> {% csrf_token %}
        {% if not request.session.email %}
        <div class="form-group">
          <input type="text" id='email' name='email' placeholder="E-mail" class="form-control" />
        </div>
        <div class="form-group">
          <input type="password" id='password' name='password' placeholder="Password" class="form-control" />
        </div>

        <button type="submit" formaction="./signin" class="btn btn-success">로그인</button>
        <button type="submit" formaction="./signup" class="btn btn-success">회원가입</button>

        {% else %}
        <div>
          <span style="color: aliceblue; font-size: 18px; cursor: pointer;"
            onclick='reqUpdate("{{request.session.firstname}}", "{{request.session.email}}")'>
            {{request.session.firstname}}({{request.session.email}})
          </span>

          <button type='submit' formaction="./signout" class='btn btn-success'>로그아웃</button>
        </div>
        {% endif %}
      </form>

    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron main-df">
  <div class='main-search-div'>
      <input id='searchBook' name='searchbook' type='text' placeholder="책을 검색합니다." class='main-search-input'>
      <button class="main-search-button" onclick="clickSearchBtn()">검색</button>
  </div>
</div>

<div class="container-fluid">
  <!-- Example row of columns -->
  {% for info in books %}
  {% if forloop.counter0|divisibleby:6 %}
  <div class="row" style="margin-top: 2%;">
    {% endif %}
    <div class="col-md-2">
      <img src='{{info.image_URL}}' id='cover{{forloop.counter}}' name='cover' class='img-rounded'
        style="width: 200px; height: 300px; margin-bottom: 5%; cursor: pointer;"
        onclick="clickImage('{{info.image_URL}}')" />
    </div>
    {% if forloop.counter|divisibleby:6 %}
  </div>
  {% endif %}
  {% endfor %}
</div> <!-- /container -->

{% if messages %}
  {% for message in messages %}
    <script>alert('{{message.message}}')</script>
  {% endfor %}
{% endif %}

{% load static %}
<script src="{% static 'polls/index.js' %}"></script>
{% endblock %}