<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>전자도서관 회원가입</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

</head>

<body class="bg-light">

  <div class='container-fluid'>
    <main>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: aliceblue;">전자 도서관</a>
            <span class='navbar-brand'>회원가입</span>
          </div>
        </nav>

      <div class= 'row'>
        <div>
          <form class="needs-validation" novalidate style="margin-left: 30%; margin-top: 3%;" method="POST">{% csrf_token %}

            <div style="margin-top: 80px; ">
            <span style="font-size: 50px;">회원가입</span>
            </div>

            <div>
              <div style="margin-top: 5%;">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstname" name='firstname' placeholder="" value="" required
                  style="width: 30%;">
              </div>

              <div style="margin-top: 1%;">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" name='lastname' placeholder="" value="" required
                  style="width: 30%;">
              </div>

              <div style="margin-top: 1%;">
                <label for="email" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="email" name ='email' placeholder="E-mail" required style="width: 60%;">
              </div>

              <div style="margin-top: 1%;">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name='password' placeholder="" value="" required
                  style="width: 30%;">
              </div>

              <div style="margin-top: 1%;">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name='address' placeholder="1234 Main St" required
                  style="width: 60%;">
              </div>
            </div>

            <button class="w-100 btn btn-primary btn-lg" type="submit"
             style="margin-top: 8%; margin-left: 25%;" formaction="./reqmember">가입하기</button>
          </form>
        </div>
      </div>
    </main>

  </div>
</body>

</html>