{% extends './base.html' %}
{% block content %}
<div class='container-fluid'>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: aliceblue;">전자 도서관</a>
                <span class='navbar-brand'>회원정보</span>
            </div>

            <div style="float: right;">
                <span style="color: aliceblue; font-size: 18px;">{{firstname}}({{usermail}})</span>
                <button onclick="submitDeleteInfo('{{firstname}}', '{{usermail}}')" class='btn btn-success'>회원탈퇴</button>
            </div>
    </nav>

    <div class='row'>
        <div>
            <form id='forms' class="needs-validation" novalidate style="margin-left: 30%; margin-top: 3%;">{% csrf_token %}

                <div style="margin-top: 80px; ">
                    <span style="font-size: 50px;">{{firstname}}님의 회원정보 수정</span>
                </div>

                <div>
                    <div style="margin-top: 5%;">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstname" name='firstname'
                            placeholder="{{firstname}}" value="" required style="width: 30%;">
                    </div>

                    <div style="margin-top: 1%;">
                        <label for="lastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName" name='lastname' placeholder="{{lastname}}"
                            value="" required style="width: 30%;">
                    </div>

                    <div style="margin-top: 1%;">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name='password' placeholder=""
                            value="" required style="width: 30%;">
                    </div>

                    <div style="margin-top: 1%;">
                        <label for="password" class="form-label">Check password</label>
                        <input type="password" class="form-control" id="cpassword" name='cpassword' placeholder=""
                            value="" required style="width: 30%;">
                    </div>

                    <div style="margin-top: 1%;">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" name='address' placeholder="{{address}}"
                            required style="width: 60%;">
                    </div>
                </div>

                <button class="w-100 btn btn-primary btn-lg" style="margin-top: 8%; margin-left: 25%;"
                    onclick="submitReqUpdate('{{usermail}}')">수정하기</button>
            </form>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'polls/updateinfo.js' %}"></script>
{% endblock %}